*{
  margin: 0;
  padding: 0;
  box-sizing:border-box
}
body{
  font-family: 'Poppins', 'Arial' ,sans-serif;
}





.site-wrapper{
  width: 1440px;
  margin: auto;
  padding-top: 48px;
  /* border:1px solid blue; */
}
.nav{
  width: 100%;
  height: 40px;
  background-color:#fff;
  /* border:1px solid red; */
}
.container{
  width: 1110px;
  margin: auto;
  /* border:1px solid red; */
}
.nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-link{
  display: flex;
  text-decoration: none;
}
.logo-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.nav-list{
  display: flex;
  align-items:center;
  margin-left: 45px;

}

.nav-item{
  list-style: none;

}
.nav-link{
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  color: #9E9AA8;
  text-decoration: none;

}
.nav-link:active{
  color:#34313D;
}

.nav-item:not(:last-child){
  margin-right: 29px;
}

.log-in{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.log-sign-list{
  display: flex;
  align-items:center;
}
.log-sign-item{
  list-style:none;
}
.log-sign-link{
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  color: #9E9AA8;
  text-decoration: none;
}


.sign-up{
  border-radius: 20px;
  background-color:#2BD0D0;
  padding: 9px 23px 9px 24px;
  margin-left: 37px;
}
.sign-up:active{
  background-color:#9AE3E3;
}

.sign-up-link{
  color:#fff;
}
.main{
  display: flex;
  position: relative;
  width: 100%;
  height: 640px;
  margin-top: 78px;
  padding-left: 165px;
 }
.main-content{
  margin-top: 61px;
}
.heading-main{
  font-size: 80px;
  line-height: 90px;
  font-weight: 700;
  letter-spacing: -2px;
  color:#34313D;
  margin: 0;
}
.text-main{
  width: 540px;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.15px;
  font-weight: 500;
  color:#9E9AA8;
  margin-top: 5px;
  margin-bottom: 38px;
}
.right-content{
  position: absolute;
  top: 0;
  right: 0;
}
.button{
  width: 197px;
  height: 56px;
  background-color:#2BD0D0;
  border-radius: 30px;
}
.button:active{
  background-color:#9AE3E3;
}
.btn{
  display: flex;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  padding: 14px 40px 12px;
  color:#fff;
  text-decoration: none;
  font-family: 'Poppins', 'Arial' ,sans-serif;
  cursor: pointer;
}
.advensed-section{
  position: relative;
  width: 100%;
  padding-bottom: 120px;
  background-color:#EFF1F7;
}
.advensed-container{
  width: 1110px;
  margin: auto;
}
.shorten-url-link{
  display: flex;
  position: absolute;
  top: -83px;
  width: 1110px;
  height: 168px;
  border-radius:10px;
  padding: 52px 65px ;
  background-image: url(../img/bg-shorten-link.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.input{
  width: 769px;
  height: 64px;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  font-weight: 500;
  color:#34313D;
  border-radius:10px;
  border:none;
  padding: 14px 32px;
  margin-bottom: 8px;
}

.input:focus::placeholder {
  color: #F46363;
}
.input:focus {
  outline-color:  #F46363;
}
.input-red-text{
  display: none;
  color:#F46363;
}
.input:focus~.input-red-text{
  display: block;
}
.block-shortener{
  display: none;
  position: relative;
  top: 100px;
  width: 1110px;
  height: 248px;
  margin-top: 50px;
}
.block-shortener-open{
  display: block;
}
.short-links{
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 16px 24px 16px 32px;
  margin-bottom: 16px;
  background-color:#fff;
  border-radius:5px;
}
.url-link{
  color:#2BD0D0;
  text-decoration: none;
}
.url-link-orig{
  color:#34313D;
  text-decoration: none;
}

.original-link{
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  font-weight: 500;
  margin-right: auto;
}
.short-link{
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.15px;
  font-weight: 500;
  margin-right: 24px;
}



.btn-url{
  width: 188px;
  height: 64px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  border-radius:10px;
  background-color:#2BD0D0;
  color:#fff;
  margin-left: 24px;
  border:none;
  cursor: pointer;
}

.btn-url:active{
  background-color:#9AE3E3;
}
.btn-short{
  width: 103px;
  height: 40px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  color:#fff;
  background-color:#2BD0D0;
  border:none;
  border-radius:5px;
  cursor: pointer;
}
.btn-short-copied{
  background-color:#3A3054;
}
.btn-short:active{
  background-color:#9AE3E3;
}

.advensed-content{
  padding-top: 204px;
  margin-bottom: 56px;
}
.heading-advensed{
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -1px;
  color:#34313D;
  text-align: center;
  margin: 0;
  margin-bottom: 18px;
}
.text-advensed{
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  color:#9E9AA8;
  letter-spacing: 0.12px;
  text-align: center;
}
.statistics{
  display: flex;
  justify-content: space-between;
  width: 1110px;
  height: 399px;
  position: relative;
}
.brand{
  width: 350px;
  height: 267px;
  background-color:#fff;
  border-radius:5px;
  margin-top: 44px;
  position: relative;
  padding-left: 32px;
}

.brand-icon{
  display: flex;
  align-items:center;
  justify-content: center;
  width: 88px;
  height: 88px;
  background-color:#3A3054;
  border-radius:50px;
  position:absolute;
  top: -44px;
  left: 32px;
}
.header-brand{
 font-size: 22px;
 line-height: 33px;
 font-weight: 700;
 color:#34313D;
 margin: 0;
 padding-top: 77px;
 margin-bottom: 12px;
}
.text-brand{
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
  color:#9E9AA8;
}
.clock{
  margin-top: 88px;
}
.statistics::before{
  content:'';
  width: 1110px;
  display: block;
  height: 8px;
  background-color:#2BD0D0;
  position: absolute;
  top: 50%;
  left: 0;
}
.paint{
  margin-top: 132px;
}
.top-footer-section{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  width: 100%;
  height: 250px;
  background-image:url(../img/bg-footer.png);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center, center;
  padding: 57px, 0px;

}
.heading-top-footer{
 font-size: 40px;
 line-height: 48px;
 letter-spacing: -1px;
 font-weight: 700;
 color:#FFFFFF;
 margin: 0;
 margin-bottom: 32px;
}
.footer{
  display: flex;
  align-items: center;
  width: 100%;
  height:310px;
  background-color:#232127;
  padding: 72px 0px;
  }

.logo-footer{
  width: 120px;
  height: 32px;
}
.footer-logo-links{
  display: flex;
  justify-content: space-between;

}
.footer-wrapper-list{
  display: flex;
  margin-left: 261px;

}
.footer-list{
  list-style: none;
  padding: 0;
  margin-right: 78px;
}
.footer-item{
  margin-bottom: 22px;

}

.footer-item-link{
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: -0.25px;
  color:#fff;
  text-decoration: none;
}
.item-details-link{
  text-decoration: none;
  color:#BFBFBF;

}
.item-details{
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.23px;
  font-weight: 500;
  margin-bottom: 10px;
}
.icon-social:hover{
  fill: #2BD0D0;
}
.socials-list{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: auto;

}
.socials-item:not(:last-child){
  margin-right: 24px;
}
